<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{414,414}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{414,414}}</string>
                <key>sourceSize</key>
                <string>{414,414}</string>
            </dict>
            <key>0_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,2},{414,414}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{414,414}}</string>
                <key>sourceSize</key>
                <string>{414,414}</string>
            </dict>
            <key>0_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,418},{414,414}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{414,414}}</string>
                <key>sourceSize</key>
                <string>{414,414}</string>
            </dict>
            <key>1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,418},{414,414}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{414,414}}</string>
                <key>sourceSize</key>
                <string>{414,414}</string>
            </dict>
            <key>1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,834},{414,414}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{414,414}}</string>
                <key>sourceSize</key>
                <string>{414,414}</string>
            </dict>
            <key>1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,834},{414,414}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{414,414}}</string>
                <key>sourceSize</key>
                <string>{414,414}</string>
            </dict>
            <key>2_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1250},{414,414}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{414,414}}</string>
                <key>sourceSize</key>
                <string>{414,414}</string>
            </dict>
            <key>2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,1250},{414,414}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{414,414}}</string>
                <key>sourceSize</key>
                <string>{414,414}</string>
            </dict>
            <key>2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1666},{414,414}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{414,414}}</string>
                <key>sourceSize</key>
                <string>{414,414}</string>
            </dict>
            <key>coin.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,2134},{39,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,50}}</string>
                <key>sourceSize</key>
                <string>{39,50}</string>
            </dict>
            <key>donuts.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,1666},{414,414}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{414,414}}</string>
                <key>sourceSize</key>
                <string>{414,414}</string>
            </dict>
            <key>heart.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,2082},{50,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{50,48}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>hong_black.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2082},{190,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,190}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>huang_black.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,2082},{190,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,190}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>lan_black.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,2082},{190,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,190}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>rings.png</string>
            <key>size</key>
            <string>{834,2274}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:08d82122d9b33a2d1f5ab519371c498d:9df04afe0799b9d1c1aa59470c681162:547b811ae73ae49f687abe58e3495ae6$</string>
            <key>textureFileName</key>
            <string>rings.png</string>
        </dict>
    </dict>
</plist>
