<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hong_black.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{414,414}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{414,414}}</string>
                <key>sourceSize</key>
                <string>{414,414}</string>
            </dict>
            <key>hong_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,2},{414,414}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{414,414}}</string>
                <key>sourceSize</key>
                <string>{414,414}</string>
            </dict>
            <key>hong_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,2},{414,414}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{414,414}}</string>
                <key>sourceSize</key>
                <string>{414,414}</string>
            </dict>
            <key>hong_yellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,418},{414,414}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{414,414}}</string>
                <key>sourceSize</key>
                <string>{414,414}</string>
            </dict>
            <key>huang_black.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,834},{414,414}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{414,414}}</string>
                <key>sourceSize</key>
                <string>{414,414}</string>
            </dict>
            <key>huang_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1250},{414,414}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{414,414}}</string>
                <key>sourceSize</key>
                <string>{414,414}</string>
            </dict>
            <key>huang_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,418},{414,414}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{414,414}}</string>
                <key>sourceSize</key>
                <string>{414,414}</string>
            </dict>
            <key>huang_yellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,418},{414,414}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{414,414}}</string>
                <key>sourceSize</key>
                <string>{414,414}</string>
            </dict>
            <key>lan_black.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,834},{414,414}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{414,414}}</string>
                <key>sourceSize</key>
                <string>{414,414}</string>
            </dict>
            <key>lan_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,1250},{414,414}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{414,414}}</string>
                <key>sourceSize</key>
                <string>{414,414}</string>
            </dict>
            <key>lan_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,834},{414,414}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{414,414}}</string>
                <key>sourceSize</key>
                <string>{414,414}</string>
            </dict>
            <key>lan_yellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,1250},{414,414}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{414,414}}</string>
                <key>sourceSize</key>
                <string>{414,414}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>rings.png</string>
            <key>size</key>
            <string>{1250,1666}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0f4d6d07d65c672ddfe7450927438597:3da6012ff3848d9d316f62d670926bf2:547b811ae73ae49f687abe58e3495ae6$</string>
            <key>textureFileName</key>
            <string>rings.png</string>
        </dict>
    </dict>
</plist>
